<ion-header>
  <ion-toolbar>
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-input type="text" id="name" placeholder="Nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" id="description" placeholder="Descrição"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" id="date" placeholder="Data de Validade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" id="price" placeholder="Preço"></ion-input>
    </ion-item>

  </ion-card>

</ion-content>
